<!DOCTYPE html>
<html>
  <head>
    <title>Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Skills</h1>
    
     
       
      
       <h3><%= skills.skill %></h3>
       <h3>Complete: <%= skills.done ? 'Yes' : 'No' %></h3>
  </body>
</html>